.title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 12px;
  margin-top: 0px;
}
.details {
  margin: 0px;
  font-weight: 500;
  font-size: 14px;
}
.info-container {
  display: flex;
  flex-direction: column;
  flex: 3;
}
.invest-cta-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.invest-button {
  cursor: pointer;
  align-self: flex-end;
  height: 45px;
  background-color: #fce300;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 16px;
  border-width: 0px;
}
.invested-check {
  align-self: flex-end;
  color: #227800;
  font-weight: 500;
  font-size: 14px;
}
