.grey-box {
  padding: 20px;
  background-color: #f2f2f2;
  width: fit-content;
}
.app {
  display: flex;
  flex: 1;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.heading{
  margin-top: 0;
  margin-bottom: 40px;
}